@model ProductRespone

<a href="~/product/@Model.ProductId">
    <img src="@Model.Image" class="img-fluid" alt="">
</a>
<div class="portfolio-info">
    <h4>@Model.Name</h4>
    <p>$ @Model.Price</p>
    <div>

    </div>
    <div class="rating">
        @for (int i = 5; i >= 1; i--)
        {
            if (i <= Model.Rated)
            {
                <span class="fa fa-star checked" data-value="@i" data-id="@Model.ProductId"></span>
            }
            else
            {
                <span class="fa fa-star" data-value="@i" data-id="@Model.ProductId"></span>
            }
        }
    </div>
    <a href="@Model.Image" data-gall="portfolioGallery" class="venobox preview-link" title="@Model.Name">
        <i class="bx bx-plus"></i>
    </a>
    <form class="d-flex">
        <input type="hidden" name="productId" value="@Model.ProductId" />
        <input type="hidden" name="name" value="@Model.Name" />
        <input type="hidden" name="price" value="@Model.Price" />
        <input type="hidden" name="image" value="@Model.Image" />
        <input type="hidden" name="description" value="@Model.Description" />
        <input type="hidden" name="rated" value="@Model.Rated" />
        <input type="hidden" name="categoryname" value="@Model.CategoryName" />
        <input class="quantity" min="0" name="quantity" value="1" type="hidden">

        <input id="add-to-cart" class="btn mx-auto addtocart" type="submit" Value="Add to Cart" />
    </form>
</div>
