@model ProductRespone

@{
    ViewData["Title"] = Model.Name;
}

<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>@Model.Name</h2>
            <ol>
                <li>
                    <a href="~/#">Home</a>
                </li>
                <li>
                    <a href="~/product/?categoryId=@Model.CategoryId">@Model.CategoryName</a>
                </li>
                <li>@Model.Name</li>
            </ol>
        </div>

    </div>
</section>

<section class="portfolio-details">
    <div class="container">

        <div class="portfolio-details-container">

            <div class="owl-carousel portfolio-details-carousel">
                <img src="@Model.Image" class="img-fluid" alt="@Model.Name">
            </div>

            <div class="portfolio-info">
                <h3>@Model.Name</h3>
                <ul>
                    <li><strong>Category</strong>: @Model.CategoryName</li>
                    <li><strong>Price</strong>: $ @Model.Price</li>
                    <li><strong>Rated</strong>: @Model.Rated</li>
                    <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
                    <li>
                        @for (int i = 1; i < 6; i++)
                        {
                            if (i <= Model.Rated)
                            {
                                <span class="fa fa-star checked"></span>
                            }
                            else
                            {
                                <span class="fa fa-star"></span>
                            }
                        }
                    </li>

                    <form action="~/product/@Model.ProductId" method="POST">
                        <ul class="rate-area">
                            <input type="submit" id="5-star" name="rating" value="5" /><label for="5-star"
                                title="Amazing">5
                                stars</label>
                            <input type="submit" id="4-star" name="rating" value="4" /><label for="4-star"
                                title="Good">4
                                stars</label>
                            <input type="submit" id="3-star" name="rating" value="3" /><label for="3-star"
                                title="Average">3
                                stars</label>
                            <input type="submit" id="2-star" name="rating" value="2" /><label for="2-star"
                                title="Not Good">2
                                stars</label>
                            <input type="submit" id="1-star" name="rating" value="1" /><label for="1-star" title="Bad">1
                                star</label>
                        </ul>
                    </form>

                    <form id="buy" method="POST">
                        <input type="hidden" name="productId" value="@Model.ProductId" />
                        <input type="hidden" name="name" value="@Model.Name" />
                        <input type="hidden" name="price" value="@Model.Price" />
                        <input type="hidden" name="image" value="@Model.Image" />
                        <input type="hidden" name="description" value="@Model.Description" />
                        <input type="hidden" name="rated" value="@Model.Rated" />
                        <input type="hidden" name="categoryname" value="@Model.CategoryName" />

                        <div class="number-input md-number-input">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                class="btn btn-primary" type="button">
                                -
                            </button>
                            <input class="quantity" min="0" name="quantity" value="1" type="number">

                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                class="btn btn-primary" type="button">
                                +
                            </button>
                        </div>

                        <div class="d-flex mt-3">
                            <button type="submit" class="btn btn-outline-primary mx-auto">
                                Add to Cart
                            </button>
                        </div>
                    </form>
                </ul>
            </div>

        </div>

        <div class="portfolio-description">
            <h2>@Model.Name</h2>
            <p>@Model.Description</p>
        </div>
    </div>
</section><!-- End Portfolio Details Section -->
