@model IEnumerable<ProductRespone>

<section id="portfolio" class="portfolio wow fadeInUp">
    <div class="container-fluid">
        <div class="container section-header">
            <h2>Our Portfolio</h2>
            <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet
                veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute
                nulla ipsum velit export irure minim illum fore</p>
        </div>

        <div class="row portfolio-container">

            @foreach (var product in Model)
            {
                <div class="col-lg-3 col-md-4 portfolio-item">
                    <a href="~/product/@product.ProductId">
                        <img src="@product.Image" class="img-fluid" alt="">
                    </a>
                    <div class="portfolio-info">
                        <h4>@product.Name</h4>
                        <p>@product.Price</p>
                        <a href="@product.Image" data-gall="portfolioGallery" class="venobox preview-link"
                            title="@product.Name">
                            <i class="bx bx-plus"></i>
                        </a>
                    </div>
                </div>
            }

        </div>

    </div>
</section>